<div class="row">
	<div class="col-sm-12">
		<div class="form-group">
			<label for="">Buscar Producto</label>
			<input type="text" class="form-control" data-ng-model="productSearch" value="">
		</div>
	</div>
	<div class="col-sm-12">
		<table class="table table-stripped" data-ng-if="productSearch">
			<thead>
				<tr>
					<!--th>SKU</th-->
					<th>Nombre</th>
					<!--th>Contenido</th-->
					<th class="pricing"><b>$</b> Público</th>
					<th class="quantity">Cantidad</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody class="products-list">
				<tr data-ng-repeat="prod in productsToFilter | filter:productSearch">
					<!--td>{{prod.sku}}</td-->
					<td>{{prod.name}}</td>
					<!--td>{{prod.contents}}</td-->
					<td>{{prod.publicPrice}}</td>
					<td><input class="form-control product-quantity" value="1" type="number"></td>
					<td><div class="btn btn-primary" data-ng-click="addToCart($event,$index)" data-object-index="{{productsToFilter.indexOf(prod)}}">+</div></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-12">
		<table class="table table-stripped" data-ng-if="cartList.length != 0">
			<thead>
				<tr>
					<th>Producto</th>
					<!--th>Contenido</th-->
					<th>Precio unitario</th>
					<th>Cantidad</th>
					<th>Subtotal</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody data-ng-init="total = 0">
				<tr data-ng-repeat="item in cartList">
					<td>{{item.name}}</td>
					<!--td>{{item.contents}}</td-->
					<td>{{item.publicPrice}}</td>
					<td>{{item.quantity}}</td>
					<td data-ng-init="$parent.total = $parent.total + (item.publicPrice * item.quantity)">$ {{item.publicPrice * item.quantity}}</td>
					
					<td><div class="btn btn-primary" data-ng-click="removeFromCart($event,$index)">x</div></td>
				</tr>
				<tr>
					<td colspan="3" class="text-right"><b>Total:</b></td>
					<td colspan="2" class="text-right">$ {{total}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>