<div class="row">
	<div class="col-sm-12">
		<h1>Registro de productos</h1>
		<form action="">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="">Nombre:</label>
						<input type="text" class="form-control" placeholder="Nombre del producto" data-ng-model="newProduct.name">
					</div>
					<div class="form-group">
						<label for="">SKU:</label>
						<input type="text" class="form-control" placeholder="SKU" data-ng-model="newProduct.sku">
					</div>
					<div class="form-group">
						<label for="">Contenido:</label>
						<input type="text" class="form-control" placeholder="Contenido" data-ng-model="newProduct.contents">
					</div>
					<div class="form-group">
						<div class="dropdown custom-dropdown">
						  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <span class="dd-text">Categoría</span>
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dLabel">
						  	<li data-ng-click="setSelection($event)">NUTRILITE</li>
						  	<li data-ng-click="setSelection($event)">XS</li>
						  	<li data-ng-click="setSelection($event)">ARTISTRY</li>
						  	<li data-ng-click="setSelection($event)">ESSENTIALS</li>
						  	<li data-ng-click="setSelection($event)">SATINIQUE</li>
						  	<li data-ng-click="setSelection($event)">MOISKIN</li>
						  	<li data-ng-click="setSelection($event)">ERTIA</li>
						  	<li data-ng-click="setSelection($event)">GLISTER</li>
						  	<li data-ng-click="setSelection($event)">TOLSOM</li>
						  	<li data-ng-click="setSelection($event)">AMWAY HOME</li>
						  	<li data-ng-click="setSelection($event)">CUIDADO DEL HOGAR</li>
						  	<li data-ng-click="setSelection($event)">DOSIFICADORES</li>
						  	<li data-ng-click="setSelection($event)">COOK</li>
						  	<li data-ng-click="setSelection($event)">ESPRING</li>
						  	<li data-ng-click="setSelection($event)">LITERATURA</li>
						  </ul>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="">Puntos:</label>
						<input type="text" class="form-control" placeholder="Puntos" data-ng-model="newProduct.points">
					</div>
					<div class="form-group">
						<label for="">VN:</label>
						<input type="text" class="form-control" placeholder="VN" data-ng-model="newProduct.vn">
					</div>
					<!--div class="form-group">
						<label for="">Precio con 25% de descuento:</label>
						<input type="text" class="form-control" placeholder="Precio con 25% de descuento" data-ng-model="newProduct.price25">
					</div-->
					<!--div class="form-group">
						<label for="">Precio con 30% de descuento:</label>
						<input type="text" class="form-control" placeholder="Precio con 30% de descuento" data-ng-model="newProduct.price30">
					</div-->
					<div class="form-group">
						<label for="">Precio al público:</label>
						<input type="text" class="form-control" placeholder="Precio al público" data-ng-model="newProduct.publicPrice">
					</div>
					<div class="btn btn-primary" data-ng-click="submitProduct()">Guardar producto</div>
				</div>
			</div>
		</form>
	</div>
</div>
